<!-- spell-checker:disable -->

<!-- CONTACT PAGE -->
<div class="contact-page container-fluid">

    <div class="contact">

        <!-- Left -->
        <div class="contact-left">

            <div class="left">            
                <h1 *ngIf="romanianSet">Contactează-mă</h1>
                <h1 *ngIf="!romanianSet">Get in touch</h1>

                <h3 *ngIf="romanianSet" class="h3-title">Opțiuni:</h3>
                <h3 *ngIf="!romanianSet" class="h3-title">Contact options:</h3>

                <!-- Contact Options -->
                <ul>
                    <li>
                        <h3 *ngIf="romanianSet">Completează formularul de contact</h3>
                        <h3 *ngIf="!romanianSet">Fill in the contact form</h3>
                    </li>

                    <li><h3 class="email"><span><mat-icon class="email-icon">email</mat-icon></span>Email: felix.daraban@gmail.com</h3></li>

                    <li>
                        <h3 *ngIf="romanianSet" class="phone"><span><mat-icon class="whatsapp-icon">whatsapp</mat-icon></span>Telefon: +40 740 461 261</h3>
                        <h3 *ngIf="!romanianSet" class="phone"><span><mat-icon class="whatsapp-icon">whatsapp</mat-icon></span>Phone number: +40 740 461 261</h3>
                    </li>

                    <li>
                        <div class="facebook">
                            <h3 *ngIf="romanianSet">Contactează-mă pe Facebook:</h3>
                            <h3 *ngIf="!romanianSet">Contact me on Facebook:</h3>
                            <a href="https://www.facebook.com/felix.daraban" target="_blank">
                                <img src="../../assets/images/facebook-icon.png" alt="facebook-icon" class="social-icon facebook-icon">
                            </a>
                        </div>                                      
                    </li>

                    <li>
                        <div class="linkedin">
                            <h3 *ngIf="romanianSet">Contactează-mă pe Linkedin:</h3>
                            <h3 *ngIf="!romanianSet">Contact me on Linkedin:</h3>
                            <a href="https://www.linkedin.com/in/felixdaraban" target="_blank">
                                <img src="../../assets/images/linkedin-icon.png" alt="linkedin-icon" class="social-icon linkedin-icon">
                            </a> 
                        </div>                    
                    </li>
                </ul>
            </div>

        </div>

        <!-- Right - Contact Form -->
        <div class="contact-right">

            <form>
                <!-- Full Name -->
                <mat-form-field appearance="fill" color="accent">
                    <mat-label *ngIf="romanianSet">Nume complet</mat-label>
                    <mat-label *ngIf="!romanianSet">Full Name</mat-label>
                    <input matInput>
                </mat-form-field>

                <!-- Email -->
                <mat-form-field appearance="fill" color="accent">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>

                <!-- Message -->
                <mat-form-field appearance="outline" color="accent">
                    <mat-label *ngIf="romanianSet">Mesajul tău...</mat-label>
                    <mat-label *ngIf="!romanianSet">Your Message...</mat-label>
                    <textarea rows="10" matInput></textarea>
                </mat-form-field>

                <!-- Submit button -->
                <button type="submit" *ngIf="romanianSet" class="send-button mat-elevation-z4" mat-raised-button>Trimite mesajul<span><mat-icon class="send-icon">send</mat-icon></span></button>
                <button type="submit" *ngIf="!romanianSet" class="send-button mat-elevation-z4" mat-raised-button>Send Message<span><mat-icon class="send-icon">send</mat-icon></span></button>

            </form>

        </div>
        
    </div>
    
</div>