/* Contact Page */
.contact-page {
  font-family: "Satoshi", sans-serif;
  padding: 1rem 7.5rem 7.5rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* LEFT */

.left {
    margin-right: 5rem;
}

/* Hidden on small screens */
.phone-small {
    display: none;
}

.email-icon, .whatsapp-icon {
    color: #08B0CA;
    font-size: 1.75rem;
    position: relative;
    top: 0.35rem;
    margin-right: 1rem;
}

/* Facebook & Linkedin */
.facebook, .linkedin {
    display: flex;
}

.facebook h3, .linkedin h3 {
    margin: 0;
}

.linkedin {
    margin-top: 1.5rem;
}

.social-icon {
    margin-left: 1rem;
    transition: transform .5s;
}

.social-icon:hover {
    transform: scale(1.15);
}

/* RIGHT - Contact Form */

/* Form */
form {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
}

mat-form-field {
    margin-top: 2rem;
}

mat-label {
    opacity: 0.75;
    font-size: 1.25rem;
}

/* Send button */
.send-button {
    height: 3.5rem;
    font-size: 1.25rem;
    background: #ebe5ef;
    color: black;
    transition: transform .5s;
}

.send-button:hover {
    transform: scale(1.015);
}

.send-icon {
    position: relative;
    top: 0.2rem;
    left: 1rem;
    transition: left .5s;
}

.send-button:hover .send-icon {
    left: 1.5rem;
}

.message-sent {
    color: green;
    font-weight: 500;
    font-size: 22px;
}


/********************  RESPONSIVENESS  <->  MEDIA QUERIES  ********************/

/***** LARGE screens <1625PX *****/
@media (max-width: 1625px){
    .contact-page {
        padding: 1rem 0rem 5rem;
    }    

    .contact {
        justify-content: space-evenly;
    }

    form {
        width: 30rem;
    }

    h1 {
        font-size: 3.15rem;
    }
    
    h2 {
        font-size: 2.75rem;
    }
}

/***** LAPTOPS <1280PX *****/
@media (max-width: 1280px){
    h1 {
        font-size: 2.75rem;
    }

    h2 {
    font-size: 2.25rem;
    }      
}
    
/***** SMALL LAPTOPS & TABLETS *****/
@media (max-width: 768px){
    .left {
        margin-right: 0;
    }

    form {
        width: 25rem;
    }
}

@media (max-width: 600px){
    
}
  
/***** MOBILE & SMALL SCREENS *****/
@media (max-width: 480px){

    h1 {
        font-size: 1.5rem;
    }
    
      h2 {
        font-size: 1.25rem;
    }  
    
      h3 {
        font-size: 1rem;
    }

    form {
        width: 17.5rem;
        margin-top: 1rem;
    }

    .phone {
        display: none;
    }

    .phone-small {
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    ul {
        padding-left: 2rem;
    }

    mat-form-field {
        margin-top: 0;
    }

    mat-label {
        font-size: 1rem;
    }

    mat-icon, .social-icon {
        font-size: 1.5rem !important;
    }

     .social-icon {
        font-size: 1.75rem !important;
        height: 1.75rem !important;
        width: 1.75rem !important;
        position: relative;
        bottom: 3px;
    }

}
  
@media (max-width: 320px){
    form {
        width: 100%;
    }  
}