<!-- spell-checker:disable -->

<!-- Scroll to Top -> Chat GPT: In your component's template, add a #portfolioTop reference to the root element. -->
<div class="portfolio container-fluid" #portfolioTop>

    <!-- INTRO -->
    
    <!-- Title -->
    <h1 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
        Portofoliu de proiecte
        <span>
            <mat-icon class="info-button" matTooltip="Mai multe detalii despre fiecare proiect găsești pe Github (secțiunea README)" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                info
            </mat-icon>
        </span>
    </h1>    

    <h1 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
        Project Portfolio
        <span>
            <mat-icon class="info-button" matTooltip="Find more details about each project on it's Github page (README section)" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                info
            </mat-icon>
        </span>
    </h1>  

    <!-- Description -->
    <h3 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
        Site-ul pe care te afli acum e construit de mine, de la design la execuție și deployment. Framework folosit: Angular (vezi <a [ngStyle]="{color: darkModeSet ? 'white' : 'black'}" href="https://github.com/Felix-gto/felixdaraban" target="_blank"><strong>Github</strong></a>).
    </h3>

    <h3 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Fiecare proiect sau exercițiu practic finalizat a contribuit la evoluția mea. Iată câteva exemple:</h3>

    <h3 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
        I've built this website from design to development and deployment, using Angular as a frontend framework  (see <a [ngStyle]="{color: darkModeSet ? 'white' : 'black'}" href="https://github.com/Felix-gto/felixdaraban" target="_blank"><strong>Github</strong></a>).
    </h3>

    <h3 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Each project or practical assignment has contributed to my evolution. Below are some examples:</h3>

    <!-- PROJECTS -->
    <div class="projects container-fluid">

        <!-- 🎲 ZARURI 🎲 -->
        <mat-card class="card card1 mat-elevation-z7">

            <!-- Image -->
            <a href="https://felix-gto.github.io/diceroll/" target="_blank"> 	
                <img class="card-image" mat-card-image src="../../assets/images/portfolio/diceroll.jpg" alt="diceroll-website">
            </a>

            <mat-card-content class="card-content">  
                <!-- Title -->
                <mat-card-title>
                    <a href="https://felix-gto.github.io/diceroll/" target="_blank">                
                        <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Zaruri</h3>
                        <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Diceroll</h3>   
                    </a>
                </mat-card-title>        
    
                <!-- Description -->
                <mat-card-subtitle>
                    <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Aruncă cu zarul.</h3>
                    <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Roll the dice.</h3>
                    <ul>
                        <li>
                            <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Exercițiu de JavaScript</h3>
                            <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">JavaScript exercise</h3>
                        </li>
                    </ul>
                </mat-card-subtitle>

                <!-- Buttons -->
                <mat-card-actions>
                    <div class="card-buttons">                    
                        <a href="https://github.com/Felix-gto/diceroll" target="_blank">
                            <button *ngIf="darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-white.png" alt="github-icon"></span></button>
                            <button *ngIf="!darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-black.png" alt="github-icon"></span></button> 
                        </a>
                        <a href="https://felix-gto.github.io/diceroll/" target="_blank">
                            <button class="mat-elevation-z4 card-button website-button" mat-raised-button>Website<span><mat-icon>arrow_forward</mat-icon></span></button>  
                        </a>
                    </div>
                </mat-card-actions>
    
            </mat-card-content>
        </mat-card>

        <!-- DRUM 🥁 KIT -->
        <mat-card class="card card2 mat-elevation-z7">

            <!-- Image -->
            <a href="https://felix-gto.github.io/drums/" target="_blank"> 	
                <img class="card-image" mat-card-image src="../../assets/images/portfolio/drum-kit.jpg" alt="diceroll-website">
            </a>

            <mat-card-content class="card-content">  
                <!-- Title -->
                <mat-card-title>
                    <a href="https://felix-gto.github.io/drums/" target="_blank">                
                        <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Tobe</h3>
                        <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Drum kit</h3>   
                    </a>
                </mat-card-title>        
    
                <!-- Description -->
                <mat-card-subtitle>
                    <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Cântă la tobe.</h3>
                    <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Play the drums.</h3>
                    <ul>
                        <li>
                            <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Exercițiu de JavaScript</h3>
                            <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">JavaScript exercise</h3>
                        </li>
                    </ul>
                </mat-card-subtitle>

                <!-- Buttons -->
                <mat-card-actions>
                    <div class="card-buttons">
                        <a href="https://github.com/Felix-gto/drums" target="_blank">
                            <button *ngIf="darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-white.png" alt="github-icon"></span></button>
                            <button *ngIf="!darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-black.png" alt="github-icon"></span></button> 
                        </a>
                        <a href="https://felix-gto.github.io/drums/" target="_blank">
                            <button class="mat-elevation-z4 card-button website-button" mat-raised-button>Website<span><mat-icon>arrow_forward</mat-icon></span></button>  
                        </a>
                    </div>  
                </mat-card-actions>
    
            </mat-card-content>
        </mat-card>

        <!-- Simon Memory Game -->
        <mat-card class="card card3 mat-elevation-z7">

            <!-- Image -->
            <a href="https://felix-gto.github.io/memory-game-simon/" target="_blank"> 	
                <img class="card-image" mat-card-image src="../../assets/images/portfolio/simon.jpg" alt="simon-website">
            </a>

            <mat-card-content class="card-content">  
                <!-- Title -->
                <mat-card-title>
                    <a href="https://felix-gto.github.io/memory-game-simon/" target="_blank">                
                        <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Joc de memorie</h3>
                        <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Memory Game</h3>   
                    </a>
                </mat-card-title>        
    
                <!-- Description -->
                <mat-card-subtitle>
                    <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Exercițiu de memorie.</h3>
                    <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Memory exercise.</h3>
                    <ul>
                        <li>
                            <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Am folosit jQuery</h3>
                            <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">I used jQuery</h3>
                        </li>
                    </ul>
                </mat-card-subtitle>

                <!-- Buttons -->
                <mat-card-actions>
                    <div class="card-buttons">
                        <a href="https://github.com/Felix-gto/memory-game-simon" target="_blank">
                            <button *ngIf="darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-white.png" alt="github-icon"></span></button>
                            <button *ngIf="!darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-black.png" alt="github-icon"></span></button> 
                        </a>
                        <a href="https://felix-gto.github.io/memory-game-simon/" target="_blank">
                            <button class="mat-elevation-z4 card-button website-button" mat-raised-button>Website<span><mat-icon>arrow_forward</mat-icon></span></button>  
                        </a>
                    </div>
                </mat-card-actions>
    
            </mat-card-content>
        </mat-card>

        <!-- Nutrition plan -->
        <mat-card class="card card4 mat-elevation-z7">

            <!-- Image -->
            <a href="https://web-production-3aa1.up.railway.app/" target="_blank"> 	
                <img class="card-image" mat-card-image src="../../assets/images/portfolio/nutrition-plan.jpg" alt="nutrition-plan">
            </a>

            <mat-card-content class="card-content">  
                <!-- Title -->
                <mat-card-title>
                    <a href="https://web-production-3aa1.up.railway.app/" target="_blank">                
                        <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Plan de nutriție</h3>
                        <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Nutrition Plan</h3>   
                    </a>
                </mat-card-title>        
    
                <!-- Description -->
                <mat-card-subtitle>
                    <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">La cererea soției 🙂.</h3>
                    <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">At my wife's request 🙂.</h3>
                    <ul>
                        <li>
                            <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Node.js, Express.js, EJS</h3>
                            <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Node.js, Express.js, EJS</h3>
                        </li>
                    </ul>
                </mat-card-subtitle>

                <!-- Buttons -->
                <mat-card-actions>
                    <div class="card-buttons">
                        <a href="https://github.com/Felix-gto/plan-de-nutritie" target="_blank">
                            <button *ngIf="darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-white.png" alt="github-icon"></span></button>
                            <button *ngIf="!darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-black.png" alt="github-icon"></span></button> 
                        </a>
                        <a href="https://web-production-3aa1.up.railway.app/" target="_blank">
                            <button class="mat-elevation-z4 card-button website-button" mat-raised-button>Website<span><mat-icon>arrow_forward</mat-icon></span></button>  
                        </a>
                    </div>
                </mat-card-actions>
    
            </mat-card-content>
        </mat-card>

        <!-- Flavorgemz -->
        <mat-card class="card card5 mat-elevation-z7">

            <!-- Image -->
            <a href="https://web-production-38ce.up.railway.app/" target="_blank"> 	
                <img class="card-image" mat-card-image src="../../assets/images/portfolio/flavorgemz.jpg" alt="flavorgemz-website">
            </a>

            <mat-card-content class="card-content">  
                <!-- Title -->
                <mat-card-title>
                    <a href="https://web-production-38ce.up.railway.app/" target="_blank">                
                        <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Flavorgemz</h3>
                        <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="h3-title card-title">Flavorgemz</h3>   
                    </a>
                </mat-card-title>        
    
                <!-- Description -->
                <mat-card-subtitle>
                    <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Abonare la Newsletter.</h3>
                    <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}" class="card-subtitle">Newsletter signup page.</h3>
                    <ul>
                        <li>
                            <h3 *ngIf="romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Node.js și Express.js</h3>
                            <h3 *ngIf="!romanianSet"[ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Node.js and Express.js</h3>
                        </li>
                    </ul>
                </mat-card-subtitle>

                <!-- Buttons -->
                <mat-card-actions>
                    <div class="card-buttons">
                        <a href="https://github.com/Felix-gto/flavorgemz-underConstruction" target="_blank">
                            <button *ngIf="darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-white.png" alt="github-icon"></span></button>
                            <button *ngIf="!darkModeSet" class="mat-elevation-z4 card-button github-button" mat-raised-button>Github<span><img src="../../assets/images/github-icon-black.png" alt="github-icon"></span></button> 
                        </a>
                        <a href="https://web-production-38ce.up.railway.app/" target="_blank">
                            <button class="mat-elevation-z4 card-button website-button" mat-raised-button>Website<span><mat-icon>arrow_forward</mat-icon></span></button>  
                        </a>
                    </div>
                </mat-card-actions>
    
            </mat-card-content>
        </mat-card>

    </div>

    <!--------------- MY LEARNING --------------->

    <!-- onScrollIntoView() method to keep track of scrolling and run Progress Bars as set in the Typescript file -->
    <div class="my-learning container-fluid" (window:scroll)="onScrollIntoView()">

        <!-- Title -->
        <h2 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
            Materiale studiate
        </h2>    

        <h2 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
            My learning
        </h2>

        <!-- Description -->
        <h3 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Încerc sa învăț cât mai structurat și cu sens, echilibrând ce mă pasionează cu ce e util pentru compania cu care colaborez.</h3>
        <h3 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Procesul de învățare este unul continuu. Mai jos găsești o parte din ce am parcurs, dincolo de articole si video-uri pe Youtube:</h3>

        <h3 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">I learn in a structured way and with purpose, balancing what I'm passionate about with what is useful for the company I work with.</h3>
        <h3 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">My learning journey is never ending, and I like that. Below are a few things I've studied, besides articles and Youtube videos:</h3>

        <!-- COURSES -->
        
        <div class="courses container fluid">
            
            <!-- ROW 1 -->
            <div class="course-row course-row-1">   

                <div class="course course-1">
                    <!-- Angela Yu - The Complete Web Development Bootcamp -->
                    <div class="course-title">
                        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank" (mouseenter)="onReset1()">
                            <mat-card class="mat-elevation-z7 course-card-title course-card-1 underlined-link">
                                <mat-card-subtitle>
                 
                                    <a [ngStyle]="{color: 'black'}" href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">The Complete Web Development Bootcamp</a>
                                    <span *ngIf="romanianSet" [ngStyle]="{color: 'black'}">
                                        <mat-icon class="info-button" matTooltip="Am luat pauză la secțiunea despre React, focusul meu fiind acum să învăț Angular" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                                            info
                                        </mat-icon>
                                    </span>
                                    <span *ngIf="!romanianSet" [ngStyle]="{color: 'black'}">
                                        <mat-icon class="info-button" matTooltip="I am pausing at the React section, my focus being now on studying Angular" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                                            info
                                        </mat-icon>
                                    </span>
                            
                                </mat-card-subtitle>
                            </mat-card>
                        </a>
                    </div>

                    <!-- Progress Bar -->                 
                    <div class="progress-bar">
                        <div class="percentage">
                            <div class="outer">
                                <div class="inner">
                                    <div class="number number1">
                                        {{counter1}}%
                                    </div>
                                </div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                <defs>
                                   <linearGradient id="GradientColor">
                                      <stop offset="0%" stop-color="#5B247A" />
                                      <stop offset="100%" stop-color="#1BCEDF" />
                                   </linearGradient>
                                </defs>
                                <circle [ngClass]="{circle1: counter1 > 0}" cx="80" cy="80" r="50" stroke-linecap="round" />
                            </svg>
                        </div>  
                    </div>

                </div> 
                
                <div class="course course-2">
                    <!-- Angular - The Complete Guide -->
                    <div class="course-title">
                        <a href="https://www.udemy.com/course/the-complete-guide-to-angular-2/" target="_blank" (mouseenter)="onReset2()">
                            <mat-card class="mat-elevation-z7 course-card-title course-card-2 underlined-link">
                                <mat-card-subtitle>
                                    <a [ngStyle]="{color: 'black'}" href="https://www.udemy.com/course/the-complete-guide-to-angular-2/" target="_blank">Angular - The Complete Guide</a>
                                </mat-card-subtitle>
                            </mat-card>
                        </a>
                    </div>

                    <!-- Progress Bar --> 
                    <div class="progress-bar">
                        <div class="percentage">
                            <div class="outer">
                                <div class="inner">
                                    <div class="number number2">
                                        {{counter2}}%
                                    </div>
                                </div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                <defs>
                                   <linearGradient id="GradientColor">
                                      <stop offset="0%" stop-color="#5B247A" />
                                      <stop offset="100%" stop-color="#1BCEDF" />
                                   </linearGradient>
                                </defs>
                                <circle [ngClass]="{circle2: counter2 > 0}" cx="80" cy="80" r="50" stroke-linecap="round" />
                            </svg>
                        </div>  
                    </div>

                </div>                
            </div>

            <!-- ROW 2 -->
            <div class="course-row course-row-2">   

                <div class="course course-3">
                    <!-- Angular Testing Masterclass -->
                    <div class="course">
                        <div class="course-title">
                            <a href="https://www.udemy.com/course/angular-testing-course/" target="_blank" (mouseenter)="onReset3()">
                                <mat-card class="mat-elevation-z7 course-card-title course-card-3 underlined-link">
                                    <mat-card-subtitle>
                                        <a [ngStyle]="{color: 'black'}" href="https://www.udemy.com/course/angular-testing-course/" target="_blank">Angular Testing Masterclass</a>
                                    </mat-card-subtitle>
                                </mat-card>
                            </a>
                        </div>

                        <!-- Progress Bar --> 
                        <div class="progress-bar">
                            <div class="percentage">
                                <div class="outer">
                                    <div class="inner">
                                        <div class="number number3">
                                            {{counter3}}%
                                        </div>
                                    </div>
                                </div>
    
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                    <defs>
                                       <linearGradient id="GradientColor">
                                          <stop offset="0%" stop-color="#5B247A" />
                                          <stop offset="100%" stop-color="#1BCEDF" />
                                       </linearGradient>
                                    </defs>
                                    <circle [ngClass]="{circle3: counter3 > 0}" cx="80" cy="80" r="50" stroke-linecap="round" />
                                </svg>
                            </div>  
                        </div>

                    </div>
                </div> 
                
                <div class="course course-4">
                    <!-- Angular Material In Depth -->
                    <div class="course-title">
                        <a href="https://www.udemy.com/course/angular-material-course/" target="_blank" (mouseenter)="onReset4()">
                            <mat-card class="mat-elevation-z7 course-card-title course-card-4 underlined-link">
                                <mat-card-subtitle>
                                    <a [ngStyle]="{color: 'black'}" href="https://www.udemy.com/course/angular-material-course/" target="_blank">Angular Material In Depth</a>
                                    <span *ngIf="romanianSet" [ngStyle]="{color: 'black'}">
                                        <mat-icon class="info-button" matTooltip="Folosesc această resură în funcție de ce am nevoie să folosesc în proiectele mele" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                                            info
                                        </mat-icon>
                                    </span>
                                    <span *ngIf="!romanianSet" [ngStyle]="{color: 'black'}">
                                        <mat-icon class="info-button" matTooltip="I'm using this course as needed, depending on what I use in my projects" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"> 
                                            info
                                        </mat-icon>
                                    </span>
                                </mat-card-subtitle>
                            </mat-card>
                        </a>
                    </div>

                    <!-- Progress Bar --> 
                    <div class="progress-bar">
                        <div class="percentage">
                            <div class="outer">
                                <div class="inner">
                                    <div class="number number4">
                                        {{counter4}}%
                                    </div>
                                </div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                <defs>
                                   <linearGradient id="GradientColor">
                                      <stop offset="0%" stop-color="#5B247A" />
                                      <stop offset="100%" stop-color="#1BCEDF" />
                                   </linearGradient>
                                </defs>
                                <circle [ngClass]="{circle4: counter4 > 0}" cx="80" cy="80" r="50" stroke-linecap="round" />
                            </svg>
                        </div>  
                    </div>
                    
                </div>                
            </div>

        </div>

        <h3 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
            Pentru moment, continui să-mi aprofundez cunoștințele de testare software, Angular, focusându-mă pe stack-ul 
            <a href="https://en.wikipedia.org/wiki/MEAN_(solution_stack)" target="_blank" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}"
               matTooltip="MongoDB, Express.js, Angular & Node.js" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"
            >
               <strong>MEAN</strong> 
            </a>.
        </h3>

        <h3 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">
            For now, the plan is to keep growing my software testing skills, as well as learn more about Angular and the 
            <a href="https://en.wikipedia.org/wiki/MEAN_(solution_stack)" target="_blank" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}"
               matTooltip="MongoDB, Express.js, Angular & Node.js" matTooltipShowDelay="500" matTooltipClass="tooltip-text" matTooltipPosition="above"
            >
               <strong>MEAN</strong>
            </a> stack.
        </h3>

    </div>

    <!-------------------- CALL TO ACTION -> CONTACT -------------------->
    <div class="contact-section container-fluid">

        <h2 *ngIf="romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Vrei să colaborăm?</h2>
        <h2 *ngIf="!romanianSet" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">Would you like to work with me?</h2> 

        <!-- Contact-me-now -->
        <a routerLink="/contact">

            <button *ngIf="romanianSet" mat-raised-button class="mat-elevation-z7 navbar-button contact-me-button" [ngClass]="{'navbar-button-dark': darkModeSet}">
            Contactează-mă acum >>
            </button>

            <button *ngIf="!romanianSet" mat-raised-button class="mat-elevation-z7 navbar-button contact-me-button" [ngClass]="{'navbar-button-dark': darkModeSet}">
                Contact me now >>
            </button>
        </a>
        
    </div>

</div>

