/******************** NAVIGATION BAR ********************/
mat-toolbar {
  height: 6.5rem;
  padding: 0 2.5rem;
  background-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-brand {
  width: 4.75rem;
  padding-top: 0.5rem;
  margin-left: 5rem;
  transition: opacity 0.5s;
}

/* Navbar Links & Button - Size & Positioning  */
.navbar-links, .navbar-button {
  margin: auto 3.5rem;
  font-size: 1.4rem;
  font-weight: 425;
}

.navbar-links:hover, .navbar-brand:hover {
  opacity: 0.65;
}

.navbar-button {
  margin-right: 7.5rem;
  padding: 0.85rem 1.75rem;
  background-color: black;
  color: white;
  border-radius: 0;
  transition: background-color 0.5s;
}

.navbar-button:hover {
  background-color: white;
  color: black;
}

/* Navbar Links -  Underline on Hover */
.navbar-links {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: black;
  transition: opacity 0.5s;
}

.navbar-links::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: black;
	transition: transform 300ms;
}

.navbar-links::after {
  transform: translate3d(-100%, 0, 0);
}

.navbar-links:hover::after,
.navbar-links:focus::after{
  transform: translate3d(0, 0, 0);
}
