<!-- spell-checker:disable -->

<!-------------------- NAVBAR -------------------->
<mat-toolbar 
  class="mat-app-background" 
  [class.dark-mode]="darkModeSet"
  [ngStyle]="{backgroundColor: darkModeSet ? '#303030' : '#ffffff'}"
>

  <!-- BRAND -->
  <a   routerLink="">
    <img src="../../assets/images/logo.png" alt="Felix-Daraban-Logo" class="navbar-brand"/>
  </a>

  <span class="spacer"></span>
  
  <!-- Portfolio -->
  <a *ngIf="!romanianSet" routerLink="/portfolio" class="navbar-links" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}"> Portfolio </a>
  <a *ngIf="romanianSet" routerLink="/portfolio" class="navbar-links" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}"> Portofoliu </a>

  <!-- CV -->
  <a routerLink="/cv" class="navbar-links cv" [ngStyle]="{color: darkModeSet ? 'white' : 'black'}">CV</a>

  <!-- Contact -->
  <a routerLink="/contact">
    <button mat-raised-button class="mat-elevation-z7 navbar-button" [ngClass]="{'navbar-button-dark': darkModeSet}">
      Contact
    </button>
  </a>

  <!-- Language Toggle (RO/EN) - Changes language from  based on darkModeSet state (true/false) and executes toggleDarkMode() which changes the darkModeOn property in the DarkModeService to true or false-->
  <div class="ro-en">
    <div class="romanian" *ngIf="romanianSet; else ro" matTooltip="Switch to English" matTooltipShowDelay="500" matTooltipClass="tooltip" (click)="languageClicked()">
      <img class="flag" src="../../assets/images/english-flag.png" alt="romanian-flag">
    </div>

    <ng-template #ro>
      <div class="english" matTooltip="Switch to Romanian" matTooltipShowDelay="500" matTooltipClass="tooltip" (click)="languageClicked()">
        <img class="flag" src="../../assets/images/romanian-flag.png" alt="english-flag">
      </div>      
    </ng-template>    
  </div>

  <!-- DARK MODE Toggle - Changes icon based on darkModeSet state (true/false) and executes toggleDarkMode() which changes the darkModeOn property in the DarkModeService to true or false-->
  <mat-icon
  *ngIf="darkModeSet; else elseBlock" 
  class="light-mode-icon" 
  (click)="toggleDarkMode()"
  matTooltip="Switch to light mode"
  matTooltipShowDelay="500"
  matTooltipClass="tooltip">
  light_mode
  </mat-icon>

  <ng-template #elseBlock>
    <mat-icon
      class="dark-mode-icon" 
      (click)="toggleDarkMode()"
      matTooltip="Switch to dark mode"
      matTooltipShowDelay="500"
      matTooltipClass="tooltip">
      dark_mode
    </mat-icon>
  </ng-template>
  
</mat-toolbar>

<!-------------------- MAIN PAGE -------------------->

<div 
  class="main-page mat-app-background" 
  [class.dark-mode]="darkModeSet" 
  [ngStyle]="{backgroundColor: darkModeSet ? '#303030' : '#ffffff'}"
>

<router-outlet></router-outlet>

</div>

  


