/******************** SIDENAV ********************/
.sidenav-items {
  margin: auto 1rem;
}

.close-menu {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  border: solid;
  border-width: 1px;
  border-color: #8DE7EF;
}

.close-menu:hover {
  border-color: #A94FFF;
}


/******************** NAVIGATION BAR ********************/

/* Sidenav - Hidden - Home, Portfolio, CV */
.menu-button {
  display: none;
}

mat-toolbar {
  height: 6.5rem;
  padding: 0 2.5rem;
  background-color: transparent;
}

/* Active Navbar Link */
.active-link {
  color: #A94FFF !important;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-brand {
  width: 4.75rem;
  padding-top: 0.5rem;
  margin-left: 5rem;
  transition: opacity 0.5s;
}

/* Navbar Links (Portfolio & CV) - Size & Positioning  */
.navbar-links {
  margin: auto 3.5rem;
  font-size: 1.4rem;
  font-weight: 425;
}

.cv {
  margin-right: 7rem;
}

.navbar-links:hover,
.navbar-brand:hover,
.sidenav-items:hover,
.sidenav-icon {
  opacity: 0.65;
}

.navbar-button {
  font-size: 1.4rem;
  font-weight: 425;
  padding: 0.85rem 1.75rem;
  background-color: black;
  color: white;
  border-radius: 0;
  transition: background-color 0.5s;
}

.navbar-button:hover {
  background-color: white;
  color: black;
}

.navbar-button-dark {
  padding: 0.85rem 1.75rem;
  background-color: white;
  color: black;
  border-radius: 0;
  transition: background-color 0.5s;
}

.navbar-button-dark:hover {
  background-color: #532072;
  color: white;
}

/* Navbar & Sidenav Links -  Underline on Hover */
.navbar-links {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: black;
  transition: opacity 0.5s;
}

.sidenav-items { 
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: opacity 0.5s;
}

.navbar-links::after,
.sidenav-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #8303ff;
  transition: transform 300ms;
}

.navbar-links::after,
.sidenav-items::after {
  transform: translate3d(-100%, 0, 0);
}

.navbar-links:hover::after,
.navbar-links:focus::after,
.sidenav-items:hover::after,
.sidenav-items:focus::after {
  transform: translate3d(0, 0, 0);
}

/* LANGUAGE Toggle */
.ro-en {
  transition: transform 0.5s;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 7.5rem;
}

.flag {
  margin-top: 8.5px;
}

.ro-en:hover {
  transform: scale(1.25);
}

/* DARK MODE Toggle */
.light-mode-icon {
  width: 29px;
  height: 29px;
  font-size: 29px;
  margin-left: 1rem;
  color: white;
  text-shadow: 0.25px 0.25px yellow;
  transition: transform 0.5s;
}

.light-mode-icon:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.dark-mode-icon {
  width: 31px;
  height: 31px;
  font-size: 31px;
  margin-left: 1rem;
  text-shadow: 1px 1px #08b0ca;
  transition: transform 0.5s;
}

.dark-mode-icon:hover {
  cursor: pointer;
  transform: scale(1.25);
}

::ng-deep .tooltip {
  font-size: 0.75rem;
}

/******************** MAIN PAGE ********************/

.main-page {
  padding: 2.5rem 7.5rem;
}

/******************** FOOTER ********************/

.footer-contact, .footer-copyright {
  background-color: #0d0d0d;
  padding: 4rem 7.5rem;
}

.footer-text {
  color: white;
}

/* Top Footer - Contact*/
.footer-contact {
  display: flex;
  justify-content: space-between;
}

.contact-details img {
  width: 24px;
  position: relative;
  top: 0.25rem;
  margin-right: 0.75rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social Media icons */
.social-icon{
transition: transform 0.5s;
}

.social-icon:hover {
  transform: scale(1.15);
}

.facebook-icon {
  margin-right: 1rem;
}

/* hr */
.hr-container {
  background-color: #0d0d0d;
  padding: 0.25rem 0;
}

.hr {
  margin: 0 7.5rem;
  background-color: #0d0d0d;
  height: 10px;
}

hr {
  height: 1px;
  border: none;
  background: white;
  margin: 0;
}

/* Bottom Footer - Copyright*/
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.75rem;
}


/********************  RESPONSIVENESS  <->  MEDIA QUERIES  ********************/

/***** LAPTOPS *****/
@media (max-width: 1280px){

  /* Navbar */

  .navbar-brand {
    margin-left: 3.5rem; 
  }

  .navbar-links {
    margin: auto 2.5rem;
  }

  .cv {
    margin-right: 5rem;
  }

}

/***** MIDDLE: LAPTOPS - TABLETS *****/
@media (max-width: 1080px){

  .navbar-brand {
    margin-left: 0;
    width: 4.5rem;    
  }

  .navbar-links {
    margin: auto 1.5rem;
    font-size: 1.25rem;
  }

  .cv {
    margin-right: 3rem;
  }

  .navbar-button {
    font-size: 1.25rem;
    padding: 0.7rem 1.5rem;
  }

  .ro-en {
    margin-right: 0;
    margin-left: 3.5rem;
  }

}

/***** TABLETS -> Hamburger Menu in Navbar *****/
@media (max-width: 768px){

  .navbar-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  mat-toolbar {
    height: 5rem;
    padding: 0 2rem;
  }

  .menu-icon {
    height: 48px !important;
		width: 48px !important;
    font-size: 48px !important;
    padding-top: 0.5rem !important;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-button {
    font-size: 1rem;
    padding: 0.15rem 1.25rem;
  }
  
}

/***** MOBILE & SMALL SCREENS *****/

@media (max-width: 480px){
  .navbar-button {
    font-size: 0.85rem;
    padding: 0.10rem 1rem;
    margin-left: 2.5rem;
  }

  .ro-en {
    margin-right: 0;
    margin-left: 1.5rem;
  }

}

@media (max-width: 320px){
  .navbar-button {
    font-size: 0.75rem;
    padding: 0 1rem;
    margin-left: 1.5rem;
  }

  .ro-en {
    margin-right: 0;
    margin-left: 1rem;
  }

}