<mat-toolbar>
  <a  href="">
    <img src="../../assets/images/logo-transparent-full.png" alt="Felix-Daraban-Logo" class="navbar-brand"/>
  </a>

  <span class="spacer"></span>

  <a>
    <button mat-flat-button class="navbar-button">
      Portfolio
    </button>
  </a>

  <a>
    <button mat-flat-button class="navbar-button">
      CV
    </button>
  </a>

  <a>
    <button mat-raised-button class="navbar-button contact mat-elevation-z7">
      Contact
    </button>
  </a>
  
</mat-toolbar>  
