.home-page {
  font-family: "Satoshi", sans-serif;
}

/********** SECTIONS - COMMON SETTINGS **********/
.header-section,
.about-section {
  display: flex;
  justify-content: space-evenly;
}

.keyboard-symbol {
  color: #08b0ca;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1rem;
}

/********** HEADER **********/

/* Intro */
.header-intro {
  margin-left: 7.5rem;
}

.header-paragraphs {
  margin-bottom: 5rem;
}

/* Image div */
.title-image {
  margin-right: 7.5rem;
  margin-left: 5rem;
  width: 530px;
}

/***** BUTTONS *****/
.header-buttons {
  margin-top: 5rem;
}

.header-button {
  height: 4rem;
  width: 12rem;
  padding: 0.85rem 1.75rem;
  font-size: 1.2rem;
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

.header-button:hover {
  transform: scale(1.025);
}

/* About me */
.about-me {
  background: #EBE5EF;
  color: black;
}

/* Contact me */
.contact-me {
  margin-left: 1.5rem;
  background: #EBE5EF;
  color: black;
}

/********** ABOUT ME **********/
.about-section {
  padding: 10rem 7.5rem;
}

h2 {
  margin-top: 0;
}

.about-image img {
  width: 335px;
}

/* Text */
.about-text {
  margin-left: 5rem;
}

/********** EXPERTISE **********/
.expertise-section {
  padding: 0 7.5rem 10rem;
}

.expertise-row {
  display: flex;
  justify-content: space-between;
}

.expertise {
  flex-basis: 45%;
}

/********** TECHNICAL SKILLS **********/
.skills-section {
  padding: 0 7.5rem 10rem;
}

.skills-row {
  display: flex;
  justify-content: space-between;
}

.skills {
  flex-basis: 45%;
}

.skills-section img {
  width: 40px;
  position: relative;
  top: 0.65rem;
  margin-right: 0.75rem;
}

/********** ME & MY WORK **********/
.work-section {
  padding: 0 7.5rem 10rem;
  display: inline-block;
}

.work-section a {
  text-decoration: none;
  position: relative;
  top: 0.25rem;
}

.work-section .keyboard-symbol {
  position: relative;
  top: 0.2rem;
  right: 0.2rem;
}

/* Underlined-links */

.underlined-link {
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: black;
  transition: opacity 0.5s;
}

.underlined-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 0.1em;
  background-color: #08b0ca;
  transition: transform 300ms;
}

.underlined-link::after {
  transform: translate3d(-100%, 0, 0);
}

.underlined-link:hover::after,
.underlined-link:focus::after {
  transform: translate3d(0, 0, 0);
}

.underlined-cv::after {
  width: 25%;
}

.underlined-portfolio::after {
  width: 47.5%;
}


/********** CALL TO ACTION -> CONTACT **********/
.contact-section {
  padding: 0 7.5rem 10rem;
  display: flex;
  align-items: baseline;
}

.navbar-button {
  font-size: 1.4rem;
  font-weight: 425;
  padding: 1.25rem 1.75rem;
  position: relative;
  left: 5rem;
  bottom: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0;
  transition: background-color 0.5s;
}

.navbar-button:hover {
  background-color: white;
  color: black;
}

.navbar-button-dark {
  background-color: white;
  color: black;
  transition: background-color 0.5s;
}

.navbar-button-dark:hover {
  background-color: #532072;
  color: white;
}

.contact-me-button {
  left: 0;
  bottom: 0;
  margin-left: 5rem;
}


/********************  RESPONSIVENESS  <->  MEDIA QUERIES  ********************/

/***** Large screens <1600PX *****/
@media (max-width: 1600px){

  h1 {
    font-size: 3.15rem;
  }

  h2 {
    font-size: 2.75rem;
  }
  
    /* Intro */
  .header-intro {
    margin-left: 2.5rem;
  }
  
  /* Image div */
  .title-image {
    margin-right: 0;
    margin-left: 2rem;
    width: 425px;
  }

  .header-buttons {
    margin-top: 2.5rem;
  }

  /* ABOUT SECTION */
  .about-section {
    padding: 7.5rem 0 7.5rem 2.5rem;
  }

  .expertise-section, .skills-section, .work-section, .contact-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .about-text {
    margin-left: 2rem;
  }
  
}

/***** LAPTOPS <1280PX *****/
@media (max-width: 1280px){

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .header-button {
    height: 3.75rem;
    width: 10rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }

  .title-image {
    width: 400px;
  }

}

/***** MIDDLE: LAPTOPS - TABLETS *****/
@media (max-width: 1024px){

  .header-section {
    flex-wrap: wrap-reverse;
  }  

  .title-image {
    width: 350px;
  }

  .about-image {
    display: none;
  }

  .about-text {
    margin: 0;
  } 

}


/***** TABLETS *****/
@media (max-width: 768px){

  .header-intro {
    margin-left: 0;
  }

  .title-image {
    width: 275px;
  }

  .about-section {
  padding: 7.5rem 0;
  }

  /* EXPERTISE & SKILLS */
  .expertise-section {
    padding-bottom: 7.5rem;
  }

  .expertise-section, .skills-section, .work-section, .contact-section {
    padding-left: 0;
    padding-right: 0;
  }

  .expertise-row, .skills-row {
    flex-wrap: wrap;
  }

  .expertise, .skills {
    flex-basis: 100%;
  }

  .hr-delete {
    display: none;
  }
  
  .skills-section {
    padding: 0 0 7.5rem;
  }

  /* ME & MY WORK + CALL TO ACTION */

  .contact-section, .work-section {
    padding-bottom: 7.5rem;
  }

  .contact-section {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-section a {
    flex-basis: 100%;
  }

  .contact-me-button {
    margin-left: 0;
  }

}

/***** MOBILE & SMALL SCREENS *****/

@media (max-width: 480px){

  .title-image {
    width: 175px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }  

  h3 {
    font-size: 1rem;
  }

  .about-me {
    margin-right: 1.5rem;
  }
  .contact-me {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .header-button {
    height: 3rem;
    width: 9rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .contact-me-button {
    height: 4rem;
    width: 15rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
}

@media (max-width: 320px){
  .title-image {
    width: 150px;
  }

  .contact-me-button {
    height: 3.75rem;
    width: 12.5rem;
    padding: 0.5rem;
    font-size: 0.85rem;
  }
}