<div class="home-page">

    <div class="header-section container-fluid">

        <div class="header-intro">
            <!-- Title -->
            <h1 *ngIf="romanianSet">Salut, sunt Felix.</h1>
            <h1 *ngIf="!romanianSet">Hi, I'm Felix.</h1>
    
            <!-- Description -->
            <h2 *ngIf="romanianSet">Sunt software tester, cu o pasiune tot mai mare pentru frontend development.</h2>
            <h2 *ngIf="!romanianSet">I am a software tester, with a growing passion for frontend development.</h2>
        </div>
            
    
        <!-- Image -->
        <div class="header-image">        
            <img src="../../assets/images/felix-1.jpg" alt="Personal-image" class="title-image">
        </div>       
    
    </div>

</div>


