.home-page {
font-family: 'Satoshi', sans-serif;
}

/********** HEADER **********/

.header-section {
    display: flex;
    justify-content: space-between;
}

/* Intro */
.header-intro {
    margin-left: 7.5rem;
}

h1 {    
    font-weight: 500;
    font-size: 3.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.65;
}


/* Image */
.header-image {
    margin-right: 7.5rem;
    margin-left: 5rem;
}

/***** BUTTONS *****/
.header-buttons {
    margin-top: 3.75rem;
}

.header-button {
    height: 3.5rem;
    width: 10rem;
    font-size: 1rem;
    transition: transform .5s, background-color .5s, color .5s;
}

.header-button:hover {
    transform: scale(1.05);
}

/* Contact me */
.contact-me {
    margin-left: 1.5rem;
}